.footer {
  background-color: var(--color-bg);
  margin-top: 80px;
  padding-top: 34px;
  padding-bottom: 30px;

  @include tablet {
    margin-top: 128px;
  }

  @include desktop {
    margin-top: 200px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @include tablet {
      grid-template-columns: repeat(6, 1fr);
      gap: 60px 30px;
    }

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
      row-gap: 70px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    grid-column: 1 / -1;

    @include tablet {
      margin-bottom: 0;
      grid-column: 1 / 3;
    }

    @include desktop {
      grid-column: 1 / 5;
    }
  }
  &__contacts-addr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    a {
      @include hover {
        color: var(--color-main);
      }
    }

    @include tablet {
      margin-bottom: 50px;
    }
  }
  &__contacts-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 10px;

    @include tablet {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  &__contacts-soc1als {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__contacts-soc1als-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
  }
  &__contacts-soc1als-link {
    color: var(--color-white);
    transition-duration: var(--transition-duration);

    @include hover {
      color: var(--color-main);
      transform: scale(1.1);
    }
  }
  &__schedule {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    margin-bottom: 50px;

    @include tablet {
      grid-column: 3 / 5;
      margin-bottom: 0;
    }

    @include desktop {
      grid-column: 5 / 9;
    }
  }
  &__schedule-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 10px;

    @include tablet {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  &__schedule-list {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);

    display: flex;
    flex-direction: column;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 0;
      grid-column: 5 / -1;
    }

    @include desktop {
      grid-column: 9 / -1;
    }
  }
  &__navigation-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 10px;

    @include tablet {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  &__navigation-list {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);

    display: flex;
    flex-direction: column;

    a {
      @include hover {
        color: var(--color-main);
      }
    }
  }

  &__policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;
  }
  &__policy-copyright {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: var(--color-white);
  }

  &__policy-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: var(--color-white);

    @include hover {
      color: var(--color-main);
    }
  }
  &__policy-arrow-up {
    height: 30px;
    width: 30px;
    transition-duration: var(--transition-duration);

    img {
      filter: brightness(0) invert(1);
    }

    @include hover {
      transform: scale(1.1);
    }
  }
}
