.hero {
  position: relative;
  width: 100%;
  background-color: var(--color-bg);

  &__inner {
    padding-top: 50px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      padding-top: 100px;
    }

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
      padding-top: 0;
    }
  }

  &__info {
    display: contents;

    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-column: 1/7;
      padding-top: 47px;
    }
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--color-white);
    margin-bottom: 10px;

    grid-row: 1;
    grid-column: 1/3;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: var(--color-white);
    margin-bottom: 30px;

    grid-row: 2;
    grid-column: 1/6;

    @include tablet {
      font-size: 72px;
      margin-bottom: 20px;
    }

    @include desktop {
      font-size: 96px;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 40px;

    grid-row: 3;
    grid-column: 1/4;

    @include tablet {
      margin-bottom: 50px;
    }

    @include desktop {
      margin-bottom: 80px;
    }
  }

  &__buyticket {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--color-white);

    background-color: var(--color-main);
    width: 100%;
    height: 60px;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 40px;

    grid-row: 4;
    grid-column: 1 / 4;

    transition: background-color var(--transition-duration);

    &:not(:disabled) {
      @include hover {
        background-color: var(--button-primary-hover);
      }
    }

    &:disabled {
      background-color: var(--button-primary-disabled);
      cursor: not-allowed;
    }

    &:not(:disabled):active {
      background-color: var(--button-primary-pressed);
    }

    @include tablet {
      margin-bottom: 70px;
    }

    @include desktop {
      width: 270px;
      margin-bottom: 135px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    grid-row: 5;
    grid-column: 2/6;

    @include desktop {
      grid-row: 1;
      grid-column: 7/13;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    img {
      width: 245px;
      height: 273px;
      object-fit: cover;

      @include tablet {
        width: 443px;
        height: 494px;
      }

      @include desktop {
        width: 625px;
        height: 663px;
      }
    }
  }

  &__date {
    display: none;

    @include desktop {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-bottom: 50px;
    }
  }

  &__duration {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: var(--color-white);
  }

  &__divider {
    height: 1px;
    grid-column: 2/7;
    width: 469px;
    background: var(--color-white);
    opacity: 0.3;
  }
}
