.subscribe {
  margin-top: 120px;

  @include tablet {
    margin-top: 160px;
  }

  @include desktop {
    margin-top: 200px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @include tablet {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: var(--color-black);

    grid-column: 1 / -1;
    margin-bottom: 20px;

    @include tablet {
      font-size: 40px;
    }

    @include desktop {
      font-size: 48px;
      line-height: 120%;
      grid-column: 1 / 6;
      margin-bottom: 50px;
    }
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    grid-column: 1 / -1;
    margin-bottom: 50px;

    @include tablet {
      grid-column: 1 / 6;
    }

    @include desktop {
      grid-row: 1;
      grid-column: 7 / -1;
    }
  }

  &__form {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;

    @include tablet {
      grid-column: 1 / 5;
    }

    @include desktop {
      grid-column: 1 / 6;
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-white);
    margin-bottom: 30px;
    outline: none;
    height: 28px;
    padding: 0;
    transition:
      border-color 0.2s ease,
      color 0.2s ease;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    &::placeholder {
      color: var(--color-black);
      opacity: 1;
      transition: color 0.2s ease;
    }

    &:hover::placeholder {
      color: var(--color-main);
    }

    &:hover {
      border-color: var(--color-main);
    }

    &:focus {
      border-color: var(--color-main);
      color: var(--color-main);
    }

    &:not(:placeholder-shown) {
      font-weight: 600;
      color: var(--color-black);
    }

    @include desktop {
      margin-bottom: 40px;
    }
  }

  &__btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--color-white);

    background-color: var(--color-main);
    height: 60px;
    border: none;
    padding: 0;
    cursor: pointer;

    transition: background-color var(--transition-duration);

    &:not(:disabled) {
      @include hover {
        background-color: var(--button-primary-hover);
      }
    }

    &:disabled {
      background-color: var(--button-primary-disabled);
      cursor: not-allowed;
    }

    &:not(:disabled):active {
      background-color: var(--button-primary-pressed);
    }

    @include desktop {
      width: 270px;
    }
  }
}
