.visit {
  background-color: var(--color-bg);
  position: relative;
  margin-top: 90px;

  @include tablet {
    margin-top: 100px;
  }

  @include desktop {
    margin-top: 110px;
  }

  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
      padding-top: 220px;
      padding-bottom: 205px;
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: var(--color-white);
    margin-bottom: 20px;

    @include tablet {
      grid-column: 1 / 6;
      font-size: 62px;
      padding-right: 70px;
    }

    @include desktop {
      grid-column: 6 / 13;
      font-size: 80px;
    }
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 40px;

    @include tablet {
      grid-column: 1 / 5;
      margin-bottom: 60px;
    }

    @include desktop {
      grid-column: 6 / 11;
      margin-bottom: 50px;
    }
  }

  &__btnstart {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--color-white);

    background-color: var(--color-main);
    width: 100%;
    height: 60px;
    border: none;
    padding: 0;
    cursor: pointer;

    transition: background-color var(--transition-duration);

    &:not(:disabled) {
      @include hover {
        background-color: var(--button-primary-hover);
      }
    }

    &:disabled {
      background-color: var(--button-primary-disabled);
      cursor: not-allowed;
    }

    &:not(:disabled):active {
      background-color: var(--button-primary-pressed);
    }

    @include tablet {
      grid-column: 1 / 4;
    }

    @include desktop {
      width: 270px;
      grid-column: 6 / 9;
    }
  }

  &__image {
    img {
      display: none;
      width: 578px;
      height: 800px;

      @include desktop {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
