body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  cursor: default;

  color: var(--color-gray);
  background-color: var(--color-white);

  scroll-behavior: smooth;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

body:has(dialog[open]) {
  overflow: hidden;
  height: 100vh;
}
