:root {
  --color-main: #cd4d31;
  --color-white: #f1f5f4;
  --color-bg: #3f5252;
  --color-black: #1c1b29;
  --color-gray: #504f5e;
  --font-family: 'Raleway', sans-serif;
  --second-family: 'Playfair Display', serif;
  --button-primary: var(--color-main);
  --button-primary-hover: #af3419;
  --button-primary-pressed: #ea340d;
  --button-primary-disabled: #dd836f;
  --button-secondary: var(--color-main);
  --button-secondary-hover: #af3419;
  --button-secondary-pressed: #ea340d;
  --button-secondary-disabled: #dd836f;
  --transition-duration: 0.3s;
}
