@import 'normalize', 'media', 'mixins', 'globals', 'variables';
@import 'blocks/header', 'blocks/hero', 'blocks/exibitions', 'blocks/events',
  'blocks/visit', 'blocks/news', 'blocks/subscribe', 'blocks/footer',
  'blocks/nav.menu';
